---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
---

<Layout title="Kontakt">
	<h1>Kontakt</h1>
	<address>
		<p>Klub Sportowy Ostrovia Ostrów Mazowiecka</p>
		<p>07-300 Ostrów Mazowiecka, ul. Warchalskiego 3</p>
	</address>
</Layout>
