---
import Layout from '../../layouts/Layout.astro'
import { queryPost } from '../../shared/queries'

const { slug } = Astro.params
const post = await queryPost(slug)
---

<Layout title={`${slug} | Ks Ostrovia`}>
	<article class="text-primary">
		<h1>{post?.title}</h1>
		<time>{new Date(post?.date).toLocaleString()}</time>
		<p set:html={post?.content} />
	</article>
</Layout>
