---
import type { Row } from '../types'
import Heading from './UI/Heading.astro'
import TeamRow from './TeamRow.astro'
import { getLeagueTable } from '../api/services/sofaScoreServices'
const response = await getLeagueTable('20137', '52791')
const result = response.standings[0]
---

<Heading title={result?.tournament.name} classes={['md:w-3/5']} />
<table class="table-auto md:w-3/5">
	<thead class="">
		<tr>
			<th scope="col"><abbr title="Pozycja">Poz</abbr></th>
			<th class="team" scope="col">Klub</th>
			<th scope="col"><abbr title="Mecze">M</abbr></th>
			<th scope="col"><abbr title="Rożnica bramek">RB</abbr></th>
			<th scope="col"><abbr title="Punkty">Pkt</abbr></th>
		</tr>
	</thead>
	<tbody class="">
		{result?.rows.map((row: Row) => <TeamRow row={row} />)}
	</tbody>
</table>
