---
import type { Row } from '../types'
import Heading from './UI/Heading.astro'
import TeamRow from './TeamRow.astro'
const url =
	'https://sofascore.p.rapidapi.com/tournaments/get-standings?tournamentId=20137&seasonId=52791&type=total'
const options = {
	method: 'GET',
	headers: {
		'X-RapidAPI-Key': import.meta.env.SOFASCORE_TOKEN,
		'X-RapidAPI-Host': 'sofascore.p.rapidapi.com'
	}
}
let result
try {
	const response = await fetch(url, options)
	result = await response.json()
	result = result.standings[0]
} catch (error) {
	console.error(error)
}
---

<Heading title={result.tournament.name} classes={['md:w-3/5']} />
<table class="table-auto md:w-3/5">
	<thead class="">
		<tr>
			<th scope="col"><abbr title="Pozycja">Poz</abbr></th>
			<th class="team" scope="col">Klub</th>
			<th scope="col"><abbr title="Mecze">M</abbr></th>
			<th scope="col"><abbr title="Rożnica bramek">RB</abbr></th>
			<th scope="col"><abbr title="Punkty">Pkt</abbr></th>
		</tr>
	</thead>
	<tbody class="">
		{result?.rows.map((row: Row) => <TeamRow row={row} />)}
	</tbody>
</table>
