---
import type { Row } from '../types'
import { Image } from 'astro:assets'

interface Props {
	row: Row
}

const { row } = Astro.props as Props
---

<tr class="border-b border-b-gray-100 py-[1rem] last:border-0">
	<td class="pr-5 text-right">
		<span class="value">{row.position}</span>
	</td>
	<td class="h-[3rem] font-semibold">
		<a class="flex" href="#">
			<span class="badge mr-3">
				<Image
					alt="Team logo"
					src="https://ksostrovia.haris-instal.pl/wp-content/uploads/2024/02/logo-ks-ostrovia.png"
					width="30"
					height="30"
				/>
			</span>
			{row.team.name.replace('Klub Sportowy', 'KS')}
		</a>
	</td>
	<td class="pl-2">{row.matches}</td>
	<td class="px-3 text-right">{row.scoresFor - row.scoresAgainst}</td>
	<td class="text-right font-bold">{row.points}</td>
</tr>
