---
import Layout from '../../layouts/Layout.astro'
import { queryPageBy } from '../../shared/queries'
import type { Post } from '../../generated/graphql'

const { uri } = Astro.params
if (!uri) return `<p>Provide uri</p>`

const post = (await queryPageBy(uri)) as Post
---

<Layout title={`${uri} | Ks Ostrovia`}>
	<article>
		<h1>{post?.title}</h1>
		<time>Page {post.date}</time>
		<p set:html={post?.content} />
	</article>
</Layout>
